body {
  font-family: "Roboto", sans-serif;
  color: #444;
}

img {
  width: 100%;
}

.page-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-left: 280px;
  -webkit-transition: padding-left 0.3s ease 0s;
  transition: padding-left 0.3s ease 0s;
}

.sbar_collapsed.page-container {
  padding-left: 0;
}

.main-content {
  width: 100%;
  background: #f3f8fb;
}

.main-content-inner {
  padding: 0 30px 50px;
}

/* Core Css End */


/* Sidebar css Start */
.sidebar-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  height: 100vh;
  width: 280px;
  overflow: hidden;
  background: #000;
  box-shadow: 2px 0 32px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sbar_collapsed .sidebar-menu {
  left: -280px;
}

.main-menu {
  height: calc(100% - 100px);
  overflow: hidden;
  padding: 20px 10px 0 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-inner {
  overflow-y: scroll;
  height: 100%;
}

.menu-inner::-webkit-scrollbar {
  display: none;
}

.sidebar-header {
  padding: 7px 0px 15px;
  background: #000;
}

.sidebar-menu .logo {
  padding: 12px;
}



.header-text a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.header-text a i {
  margin-right: 10px;
}

.header-text {
  padding: 6px 22px;
  background: #000;
  margin-top: 5px;
}

li.management {
  padding: 0 25px 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  font-family: "Rubik";
  color: #7d838f;
}

ul#menu {
  padding: 0;
}

.metismenu li {
  list-style: none;
}

.metismenu>li>a {
  padding-left: 32px !important;
}

.metismenu li a {
  position: relative;
  display: block;
  color: #acb5c7;
  font-size: 15px;
  text-transform: capitalize;
  padding: 10px 15px;
  letter-spacing: 0;
  font-weight: 500;
  text-decoration: none;
}

.metismenu li a i {
  color: #acb5c7;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.metismenu li a:after {
  position: absolute;
  content: "\F282";
  font-family: "Bootstrap-icons";
  right: 15px;
  top: 12px;
  color: #8d97ad;
  font-size: 15px;
  transition: .5s;
  font-weight: 600;
}

.metismenu li [aria-expanded="true"]::after {
  transform: rotate(90deg);
  color: #d8e3e7;
}

.metismenu li a:only-child:after {
  content: "";
}

.metismenu li a span {
  margin-left: 10px;
}

.metismenu li.active>a,
.metismenu li:hover>a {
  color: #fff;
}

.metismenu li li a {
  padding: 8px 20px;
}

.metismenu li ul {
  padding-left: 37px;
}

.metismenu>li:hover>a,
.metismenu>li.active>a {
  color: #fff;
  background: #152D35;
}

.metismenu li:hover>a,
.metismenu li.active>a {
  color: #fff;
}

.metismenu li:hover>a i,
.metismenu li.active>a i {
  color: #fff;
}

.metismenu li li a:after {
  top: 6px;
}

li.management.Pages {
  margin: 12px 0;
  padding-bottom: 0;
}

li.management.Components {
  margin: 12px 0;
  padding-bottom: 0;
}

/* Sidebar css End */

/* Header Css Start */

.header-area {
  padding: 10px 30px 10px;
  background: #fff;
  border-bottom: 1px solid #d8e3e7;
}

.nav-btn {
  margin: 0 30px 0 0;
  cursor: pointer;
}

.nav-btn span {
  display: block;
  height: 31px;
  margin: 4px 0;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 24px;
}

.sbar_collapsed .nav-btn span {
  transform: none;
  opacity: 1;
}

.notification-area {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: 1;
  padding-right: 12px;
}

ul.notification-area .dark-theme-icon {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.notification-area li {
  display: inline-block;
  margin-left: 12px;
  cursor: pointer;
  color: rgb(141 151 173);
}

.notification-area li>i {
  font-size: 18px;
  vertical-align: middle;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

li.user-logo {
  width: 35px;
  border-radius: 50%;
  height: 35px;
  margin-left: 18px;
}

li.user-logo img {
  border-radius: 50%;
}

.notification-area li a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-family: "Rubik";
  display: inline-block;
  padding: 7px 2px;
  font-size: 20px;
}

.notification-area li:nth-child(3) {
  color: rgb(192, 170, 170);
}

ul.notification-area {
  margin-bottom: 0;
}

.user-details {
  cursor: pointer;
}

.user-details img {
  width: 40px;
  border-radius: 50%;
  transition: 1s;
  cursor: pointer;
}

ul.notification-area {
  display: flex;
  justify-content: flex-end;
}

ul.show-user-details li {
  display: block;
  margin-left: 0;
  padding-left: 12px;
}

ul.show-user-details {
  padding-left: 0;
  background: #000;
  position: absolute;
  top: 57px;
  left: -14px;
  width: 166px;
  border-radius: 7px;
  transition: 0.5s;
}

.user-wrapper {
  position: relative;
}

ul.show-user-details li a i {
  width: 24px;
  font-size: 16px;
  margin-right: 8px;
}

ul.show-user-details li a {
  display: inline-block;
  font-size: 18px;
  color: #fff;
}

ul.show-user-details li:hover {
  background: #0f2d69;
  border-radius: 7px;
}

.user-details {
  margin-left: 15px;
}

.user-details span {
  color: #000;
  margin-left: 7px;
  margin-right: 5px;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  font-family: "Rubik";
}

.user-details i {
  color: #000;
}

/* header End */

/* Card  Section Css Start */
.dashboard_card {
  background: #fff;
  padding: 19px 21px 16px 20px;
  border-radius: 7px;
  margin-bottom: 22px;
}

.dashboard_card h6 {
  color: rgb(117 127 149);
  font-weight: 400;
}

.dashboard_card strong {
  font-size: 25px;
  font-family: "Rubik";
  font-weight: 500;
  margin-right: 4px;
}

.dashboard_card span {
  color: rgb(8 131 57);
  font-weight: 500;
  position: relative;
  top: -3px;
}

/* Card  Section Css End */

/* Chart start */
.chart {
  position: relative;
  background: #fff;
  padding: 40px 10px 43px;
  border-radius: 7px;
}

.chart span {
  position: absolute;
  top: 18px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Rubik";
}

.chart2 span {
  position: absolute;
  top: 18px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Rubik";
}

.activMembarship {
  background: #4765f6;
  color: #fff;
  margin: 0 0px;
  padding: 15px 8px 16px;
}

.members h4 {
  display: inline-block;
  font-size: 27px;
  font-weight: 500;
}

.members strong {
  color: rgb(208 214 225);
  font-size: 15px;
}

.members p {
  color: rgb(208 214 225);
  font-size: 18px;
  font-family: "Roboto";
  margin-left: 6px;
}

.membars-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 10px;
}

.overview-total {
  position: relative;
}

.overview-total .overview-num {
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.chart2 {
  position: relative;
  background: #fff;
  padding: 50px 10px 10px;
  border-radius: 7px;
}

/* Chart End */

/* Recent User */
table thead tr th {
  color: #444;
  /* font-family: "Rubik"; */
  font-size: 14px;
  font-weight: 500;
}

tbody.user-data td span img {
  border-radius: 50%;
}

.card {
  border-radius: 7px;
}

tbody.user-data {
  font-size: 15px;
}

.seel_all {
  text-align: right;
}

.seel_all button {
  border: none;
  outline: none;
  background: rgb(208 214 225);
  font-size: 14px;
  font-weight: 500;
  font-family: "Rubik";
  padding: 6px 15px;
  border-radius: 7px;
  transition: 0.5s ease;
}

.seel_all button:hover {
  background: #4765f6;
  color: #fff;
}

tbody.user-data tr:hover {
  cursor: pointer;
  background: rgb(247 248 250);
}

tbody.user-data tr {
  transition: 0.5s ease;
}

tbody.user-data tr td,
th {
  line-height: 30px;
  padding: 10px 40px 10px 7px;
  /* border: 1px solid #ddd; */
  font-size: 14px;
  text-align: left;
}

tbody.user-data tr th {
  line-height: 34px;
}

table.table {
  border-spacing: 0px;
}

.table-right {
  display: flex;
  justify-content: flex-end;
  grid-gap: 14px;
  font-size: 14px;
}


tbody.user-data {
  font-size: 18px;
}

li.page-item a {
  color: #000;
  border: 1px solid #ddd;
}

/* Recent User End*/






/* User Page Css Start */
button.add-user {
  border: none;
  outline: none;
  padding: 7px 14px;
  font-size: 17px;
  margin-bottom: 8px;
  transition: .5s;
  background: #000000;
  border: 1px solid #444;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
}

button.add-user span {
  font-size: 20px;
  padding-right: 5px;
}

button.add-user:hover {
  background: #fff;
  color: #444;
}

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

a.edit-btn {
  border: none;
  background: #fff0;
  font-size: 25px;
  transition: .5s;
  color:#444;
  margin-right: 10px;
}

a.del-btn {
  border: none;
  background: #fff0;
  font-size: 25px;
  transition: .5s;
  color:#444;
}

button.edit-btn:hover {
  background: #ddd;
}

button.del-btn:hover {
  background: #ddd;
}

tbody.user-data tr td:nth-child(5) a {
  text-decoration: none;
  display: inline-block;
}




/* Service Page Css */
.service-add-btn  {
  margin-bottom:20px;
}

.service-add-btn a {
    text-decoration: none;
    background: #000000;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 500;
    border: 1px solid #ddd;
    transition:.5s;
}
.service-add-btn a:hover {
  border:1px solid #444;
  background:#fff;
  color:#444;
}
.service-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.service-name p {
  margin-bottom: 0;
  /* padding-left: 15px; */
}




/* Add Frequencys Css */
.add-frequencys {
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000059;
  opacity: 0;
  pointer-events: none;
}

.add-frequencys.frequency-show {
  opacity: 1;
  pointer-events: all;
}

.frequencys {
  position: relative;
}

.add-frequencys input {
  outline: none;
  border: none;
  padding: 10px 30px;
  background: #fff;
  border-radius: 5px;
  margin-right: 8px;
}

.add-frequencys button.add-btn {
  padding: 10px 15px;
  outline: none;
  border: none;
  background: #fff;
  border-radius: 5px;
}

.frequency-table {
  padding: 20px 35px;
  background: #fff;
  border-radius: 7px;
}
.frequencyAddBtn input {
  border: 1px solid #ddd;
  outline: none;
  height: 40px;
  border-radius: 5px;
  margin-left: 15px;
}
.frequencyAddBtn span {
  margin-left: 10px;
  -webkit-text-stroke-width: medium;
  color: limegreen;
  font-size: 24px;
}

/* Order page  */

.table-left select {
  border: none;
  outline: none;
  padding: 0.375rem 0.75rem;
  background-color: #f3f8fb;

  border: 1px solid #ddd;
}
.table-left > input {
    width: 180px;
    border: 1px solid #ddd;
    padding: 0.375rem 0.75rem;
    background: #f3f8fb;
}

button.apply-btn {
  border: none;
  outline: none;
  padding: 4px 10px;
  background-color: #f3f8fb;

  border: 1px solid #ddd;
}

button.filter-btn {
  border: none;
  outline: none;
  padding: 4px 10px;
  background-color: #f3f8fb;
  border: 1px solid #ddd;
}


/* Subscriber page */
.all-subscribe-wrapper {
  display: flex;
  gap: 10px;
  height: 100%;
  align-items: center;
}

.all-subscriber h6 span {
  font-weight: 400;
  font-size: 16px;
  position: relative;
}

.all-active h6 span {
  font-weight: 400;
  font-size: 16px;
  position: relative;
}

.all-onhold h6 span {
  font-weight: 400;
  font-size: 16px;
  position: relative;
}

table.mytable thead tr th {
  font-size: 15px;
  color: #444;
}

.table-responsive {
  overflow-x: scroll;
  width: 100%
}

td.pendingPayment {
    font-weight: 600;
    color: red;
}

td.completePayment {
    color: green;
    font-weight: 600;
}

td.processingPayment {
    color: blue;
    font-weight: 600;
}



span.onhold {
  background: sandybrown;
  padding: 6px;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
}

span.active-order {
  background: green;
  padding: 6px 10px;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
}

table {
  font-family: "Rubik", sans-serif;
  border-collapse: collapse;
}

.subscriber-search input {
  border: none;
  outline: none;
  padding: 0.375rem 0.75rem;
  background-color: #f3f8fb;
  border: 1px solid #ddd;
  transition: .5s;
}

.subscriber-search button {
  border: none;
  outline: none;
  padding: 0.375rem 0.75rem;
  background-color: #f3f8fb;
  border: 1px solid #ddd;
  transition: .5s;
}

.subscriber-search button:hover {
  background-color: #444;
  color: #fff;
}

.subscriber-table::-webkit-scrollbar {
  height: 10px;
}

.subscriber-table::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.subscriber-table::-webkit-scrollbar-thumb {
  background: rgb(231, 226, 226);
  border-radius: 10px;
}

.subscriber-table::-webkit-scrollbar-thumb:hover {
  background: #666;
}



/* User data page */
.user-data {
  margin: auto;
  margin-top: 30px;
}
.user-data-setting{
  background: #ffffff;
  padding: 35px 30px;
  border-radius: 7px;
  /* position: absolute; */
  top: 10px;
  margin: auto;
  /* width: 60%; */
  /* border: 1px solid #ddd; */
  /* left: 160px; */
  font-size: 15px;
}
.user-data-setting.active{
  display: block;
}
a.payment-data-active {
  text-decoration: none;
  color: green;
  background: #fff;
  font-weight: 600;
  padding: 5px;
  border-radius: 4px;
}
button.payment-data-btn {
  border: none;
  outline: none;
  background: #fff;
  font-weight: 500;
  color: blue;
  padding: 3px 13px;
  border-radius: 4px;
}



.user-data-btn{
  /* padding-top: 10px; */
}

.hide{
  display: none;
}
.text-center.user-data-btn button {
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
  background: #000000;
  color: #fff;
  border: 1px solid #444;
}
.user-data-btn button:hover {
    background: #fff;
    color: #000;
    border: 1px solid #ddd;
    transition: .5s;
}

/* Add user start */
.service-bottom-edit {
  display: flex;
  justify-content: space-around;
  border: 1px solid #ddd;
  padding: 30px 0;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
}

.service-bottom-edit a {
  display: inline-block;
  font-size: 25px;
  color: #444;
}
.service-bottom-edit span {
  font-size: 23px;
  padding: 2px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: .5s;
}
.service-bottom-edit span:hover {
    font-size: 25px;
}
input.timezone {
  height: 38px;
  border: 1px solid #d1c6c6;
  outline: none;
}
a.activeAddUser {
  background: green;
  color: #fff;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 5px;
}
a.cancleAddUser {
  background: #081a69;
  color: #fff;
  font-weight: 600;
  padding: 5px 19px;
  border-radius: 5px;
}
form.row.g-3.adduserform > div {
  margin-top: 35px;
}
.table-left a.add-user {
  color: #fff;
  background: #000;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  border-radius: 5px;
}
/* Add user End */

/* Service 1 css start */
form.services1 label {
  width: 250px;
}
form.services1 {
  background: #fff;
  padding: 40px;
}
form.services1 > div {
  /* border-bottom: 1px solid #ddd; */
  padding: 10px 0px;
}
div#textValue p {
  word-spacing: 10px;
}
div#textValue p span {
  color: red;
  -webkit-text-stroke: medium;
}
.service1submit input {
  border: none;
  outline: none;
  background: #000;
  color: #fff;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 5px;
}
span.add-value {
  font-size: 17px;
  margin-left: 10px;
}

span.addDataBtn {
  font-size: 17px;
  margin-left: 10px;
}
table.current-data-table tr td select {
  border: 1px solid #ddd;
  outline: none;
  background: #f3f8fb;
  padding: 5px 10px;
}
table.current-data-table tr td input{
  border: 1px solid #ddd;
  outline: none;
  background: #f3f8fb;
  padding: 5px 10px;
}
tr.data {
  background: #f3f8fb;
}

tr.data input {
  background: #fbfbfb;
  border: 1px solid #ddd;
  outline: none;
  padding: 5px 10px;

}
/* Service 1 css End */

/* Service 2 css End */
form.services2 label {
  width: 200px;
}
form.services2 div > select {
  width: 120px;
  height: 30px;
  background-color: #f3f8fb;
  border: 1px solid #ddd;
  outline: none;
}
form.services2 div > input {
  width: 243px;
  height: 30px;
  background-color: #f3f8fb;
  border: 1px solid #ddd;
  outline: none;
}

form.services2 {
  padding: 10px;
  background: #fff;
  border-radius: 7px;
  padding: 20px;
}
.current-data {
  /* margin-left: 15px; */
  padding: 20px;
  background: #fff;
  border-radius: 7px;
}
.current-data table tbody tr {
    border-bottom: 1px solid #ddd;
}

form.services2 > div {
  padding: 10px 0px;
}
.subscriptions {
  border: 1px solid #ddd;
  width: 88%;
  text-align: center;
  padding: 10px;
  margin: auto;
}
.sub-status label {
  margin-bottom: 10px;
}


.subscriptions h5 {
  color: green;
  font-weight: 600;
}

.subscriptions a {
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
}
a.cancel-sub {
    color: red;
    font-weight: 500;
}
a.update-sub {
  color: #023b1b;
  font-weight: 500;
}
button.add-service-btn {
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #444;
  background: #000;
  font-weight: 600;
  color: #fff;
  transition: .5s;
}
button.add-service-btn:hover {
  background: #fff;
  color: #000;
  border: 2px solid #444;
}
/* Service 2 css End */


/* Text System Css Start */  


.texInsertTabel table tbody tr td input[type=text],
.texInsertTabel table tbody tr td select {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 2px 8px;
  outline: none;
}
.texInsertTabel {
  border-radius: 9px;
  overflow-x: auto;
}

.texInsertTabel table thead tr th:last-child {
  text-align: right;
}

.texInsertTabel table tbody tr td:last-child {
  text-align: right;
}

.texInsertTabel table tbody tr td:last-child a.button {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 5px;
  margin-bottom: 0px;
  border-radius: 4px;
  margin-right: 5px;
  background-color: #FFF;
  display: inline-block;
  color: #444;
  transition: .5s;
}
.texInsertTabel table tbody tr td:last-child a.button:hover{
  background-color: #444;
  color: #fff;
}
.add-row {
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  background: #444;
  color: #fff;
  font-weight: 500;
}
.add-row:hover {
  background: #000;
  color: #fff;
}

/* Text System Css End */